# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing & Build output
/build
/dist
/.next/
/.out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp / Zip / Logs
*.log
*.zip
.DS_Store
Thumbs.db
.vscode/
.idea/
scratch/
test-pages.ps1
test-redsun.ps1
